<h1>Followers</h1>
<div class="row my-4">
  <% if(followers) { %> <% followers.forEach(user => { %>
  <div class="col col-md-4 col-12">
    <div class="card py-4 px-2 text-center my-2">
      <a href="/p/<%= user.username %>" class="custom_link">
        <img
          src="<%= user.avatar %>"
          alt="<%= user.name %>"
          style="
            width: 60px;
            height: 60px;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 50%;
            margin-bottom: 10px;
          "
        />
      </a>
      <h5><a href="/p/<%= user.username %>" class="custom_link"><%= user.name %></a></h5>
      <h6><a href="/p/<%= user.username %>" class="custom_link">@<%= user.username %></a></h6>
    </div>
  </div>
  <% })} %>
</div>
