<div class="card p-3 mb-4">
  <div class="col col-12 col-md-11">
    <h1 style="font-weight: 900; font-size: 3.5rem"><%= post.title %></h1>
    <div class="tags my-3">
      <% post.tags.forEach(tag => {%>
      <small class="badge pill bg-dark">
        <a href="/t/<%= tag %>">#<%= tag %></a>
      </small>
      <% }) %>
    </div>
    <div class="user_info mb-3">
      <img src="<%= post.user.avatar %>" alt="" style="width: 30px; height: 30px; border-radius: 50%" />
      <span class="ms-1">
        <a href="/p/<%= post.user.username %>"><%= post.user.name %></a>
      </span>
    </div>
    <div class="md_container"><%= post.post_body %></div>

    <hr style="margin-bottom: -5px; margin-top: 10px" />
    <h2 class="mt-2">Comments (<%= post.comments.length %>)</h2>
    <form action="/posts/comments" method="POST" class="my-3">
      <input type="hidden" name="post_id" value="<%= post._id %>" />
      <div class="comment_box">
        <div class="user_avatar">
          <img src="<%= post.user.avatar%>" />
        </div>
        <div class="text_input">
          <textarea <%= !user ? 'disabled' : '' %> name="comment_body" placeholder="Add your comment" class="form-control"></textarea>
          <button <%= !user ? 'disabled' : '' %> class="btn btn-sm btn-primary mt-2">Submit</button>
        </div>
      </div>
    </form>

    <!-- show all comments -->
    <% post.comments.forEach(comment => { %>
    <div class="user_comment_item">
      <div class="user_photo_div">
        <img src="<%= comment.user.avatar%>" />
      </div>
      <div>
        <h5><a href="/p/<%= comment.user.username %> "><%= comment.user.name %></a></h5>
        <p><%= comment.comment_body %></p>
      </div>
    </div>
    <% }) %>
  </div>
</div>
