<div class="card p-4" style="border-top: 20px solid rgb(128, 71, 19)">
  <h3>
    <span class="text-muted">#</span>
    <strong><%= tag %></strong>
  </h3>
</div>

<% if(posts) { %> <% posts.forEach(post => { %>
<div class="card post_item p-3 my-3">
  <div class="mb-2">
    <img src="<%= post.user.avatar %>" alt="" style="width: 30px; height: 30px; border-radius: 50%" />
    <span class="ms-1">
      <a href="/p/<%= post.user.username %>"><%= post.user.name %></a>
    </span>
  </div>
  <h2 class="post_title">
    <a href="/posts/<%=post._id%>"><%= post.title %></a>
  </h2>
  <div class="tags my-2">
    <% post.tags.forEach(tag => {%>
    <small class="badge pill bg-dark">
      <a href="/t/<%= tag  %>">#<%= tag %></a>
    </small>
    <% }) %>
  </div>
  <div class="post_info my-2">
    <span class="me-3"><i class="fa fa-heart"></i> <%= post.reactions %> reactions</span>
    <span><i class="fa fa-comments"></i> <%= post.comments.length %> comments</span>
  </div>
</div>
<% }) %> <% } %>
